
/* Main background taken from bootstraps basics project*/ 
/* General theme inspiration from : https://visme.co/blog/website-color-schemes/ */

body, html {
  height: 100%;
  margin: 2.5%;
}
/* -----------------------------------Intro bar---------------*/

.intro-container
{
padding:2.5%;
background-color: #2f4454;
}
.jumbotron 
{
  margin:2.5%;
 padding: 10px;
 text-align: center;
  background-color: #D8C3A3;
  color:#fff;
  
}
.jumbotron-header
{
  font-size:500%;

}

.introtron
{
  margin:0;
min-height: 40%;
}

.intro-image {
  padding-bottom: 2.5%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
  border-radius: 50%;
  display:inline-block;
}

.contact-card
{
  
  text-align: left;
  height:40%;
}
.name-card
{
  text-align:left;
  font-size: x-large;
  height:40%;  
}
/*-----------------------------SkillsBar-------------------*/
.progress
{
  margin-bottom: 2.5%;
 
}
.full-stack
{
  background-color: #E27D60;
}
.tech-writing
{
  background-color: #e8a87c;
}
.html
{
  background-color: #C38D9E;
}
.css
{
  background-color: #41B3A3;
}
/*----------------------------------Nav-----------------------*/
.nav
{

  text-align: center;
  background-color: #2E151B;
  
}
.nav-link
{
  color:#fff;
}
.nav-link:hover
{
  background-color:#eed2dc ;
  color:#2E151B;
}

/*-----------------------------Main-Text-------------------*/
.main-text
{
  background-color: #2f4454;
}
.main-text-box
{ 
  border: solid 10px #2f4454;
  background-color: #fff;
  color: #2f4454;
}
.other-image-background
{
border: solid 10px #2f4454;
 margin:0;
}
.other-image {
  
width: 100%;
  display:block;
  
}

/*------------------------------Footer---------------------*/
.footer
{ background-color: #D8C3A3;
color:#fff;
padding: 2.5%;
border: solid 10px #2f4454 ;
}
.footer-item
{
  text-align: center;
}
/*------------------------------MediaQueries-----------------*/

@media (max-width: 573)
{
  .name-card
{
height: 100%;
background-color: #E85a4f;
}


.contact-card
{
height: 100%;  
background-color: #E98074;
}
}
.other-image
{
  height:100%;

}